[submodule "lain"]
	path = lain
	url = https://github.com/lcpz/lain.git
[submodule "themes/ayu"]
	path = themes/ayu
	url = https://github.com/MArpogaus/awesome-ayu.git
	branch = main
[submodule "revelation"]
	path = revelation
	url = https://github.com/guotsuan/awesome-revelation
[submodule "vicious"]
	path = vicious
	url = https://github.com/vicious-widgets/vicious.git
[submodule "tyrannical"]
	path = tyrannical
	url = https://github.com/Elv13/tyrannical.git
