[submodule "lain"]
	path = lain
	url = https://github.com/lcpz/lain.git
[submodule "themes/ayu"]
	path = themes/ayu
	url = https://github.com/MArpogaus/awesome-ayu.git
[submodule "revelation"]
	path = revelation
	url = https://github.com/guotsuan/awesome-revelation
