local module = {}

-- [ applications ] ------------------------------------------------------------
-- module.browser = 'firefox'
-- module.filemanager = 'thunar'
-- module.lock_command = 'light-locker-command -l'
-- module.terminal = 'xterm'

-- [ key bindings ] ------------------------------------------------------------
-- keybindings to use
-- module.key_bindings = {'default'}

-- default modkeys
-- module.altkey = 'mod1'
-- module.modkey = 'mod4'

-- [ behavior ] ----------------------------------------------------------------
-- use dynamic tagging
-- module.dynamic_tagging = false

-- add exitmenu to wibar
-- module.exitmenu = false

-- add awesome menu and launcher to wibar
-- module.mainmenu = true

-- behavior of the task list. set to 'windows' to get windows-like client grouping
-- module.tasklist = 'default'

-- overwrite default layout list
-- module.layouts = {...} 
-- index of default layout to use on new tags
-- module.default_layout = 0

-- [ appearance ] --------------------------------------------------------------
-- module.dpi = 144 -- set explicit dpi for every screen
-- module.auto_dpi = true

-- set custom theme assets ('recolor', 'mac')
-- module.assets

-- select theme
module.theme = 'gtk'
-- use module.theme_overwrite = { var = val } to overwrite variable var in theme

-- path to your wallpaper or 'xfconf-query' to use xconf
-- module.wallpaper

-- [ widgets ] -----------------------------------------------------------------

-- select desktop elements ('arcs')
-- module.desktop = 'arcs'

-- hide desktop widgets
-- module.desktop_widgets_visible = false

-- widgets to be added to the desktop pop up
-- module.arc_widgets = {'cpu', 'mem', 'fs', 'bat'}

-- select wibar configuration ('default'|'dual')
-- module.wibar = 'default'

-- widgets to be added to wibar
-- module.wibar_widgets = {
-- 	'net_down',
-- 	'net_up',
-- 	'vol',
-- 	'mem',
-- 	'cpu',
-- 	'fs',
-- 	'weather',
-- 	'temp',
-- 	'bat',
-- 	'datetime'
-- }


-- configure widgets
-- module.widgets_arg = {
--     weather = {
--         -- city and app id for the weather widget
--         city_id = 'change_me',
--         app_id = 'change_me'
--     },
--     temp = {
--         -- set resource for temperature widget
--         thermal_zone = 'thermal_zone0'
--     },
--     net = {
--         -- network interface
--         net_interface = 'change_me'
--     }
-- }

return module
