local module = {}

-- This is used later as the default terminal and editor to run.
module.browser = 'exo-open --launch WebBrowser' or 'firefox'
module.filemanager = 'exo-open --launch FileManager' or 'thunar'
module.gui_editor = 'subl'
module.terminal = os.getenv('TERMINAL') or 'lxterminal'
module.lock_command = 'light-locker-command -l'

-- Default modkey.
module.modkey = 'Mod4'
module.altkey = 'Mod1'

-- Select theme
module.theme = 'ayu'

-- Using Tyrannical tag managment engine
-- module.tyrannical = true

return module
